/* Source: http://www.color-hex.com/color/ff808a */
.code-mine-bg-10 {
  background-color: #ff808a;
}
.code-mine-bg-9 {
  background-color: #ff8c95;
}
.code-mine-bg-8 {
  background-color: #ff99a1;
}
.code-mine-bg-7 {
  background-color: #ffa6ad;
}
.code-mine-bg-6 {
  background-color: #ffb2b8;
}
.code-mine-bg-5 {
  background-color: #ffbfc4;
}
.code-mine-bg-4 {
  background-color: #ffccd0;
}
.code-mine-bg-3 {
  background-color: #ffd8db;
}
.code-mine-bg-2 {
  background-color: #ffe5e7;
}
.code-mine-bg-1 {
  background-color: #fff2f3;
}
